<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rails_help" %></a>.
  <%= t ".to_help" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".ror" %></em>
  book</a>.
</p>
