<h1><%= t "mailer.user_mailer.same_app" %></h1>

<p><%= t "mailer.user_mailer.hi" + @user.name %>,</p>

<p> <%= t "mailer.user_mailer.welcome" %> </p>

<%= link_to (t "mailer.user_mailer.activate"),
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
